<h1 mat-dialog-title>Add Habit</h1>
<mat-dialog-content class="mat=typography">
    <form [formGroup]="addForm" (ngSubmit)="addHabit()">
        <mat-form-field>
            <mat-label>Habit name</mat-label>
            <input matInput placeholder="Habit name" formControlName="habit">
            <mat-error *ngIf="habit?.errors?.['required']">
                Habit name is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-form-field">
            <mat-label>When was the last you did it?</mat-label>
            <input matInput formControlName="start" [matDatepicker]="datepicker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
        </mat-form-field>
          

        
        <div class="button-wrapper">
            <button style="background-color: green; color: white;" mat-raised-button type="submit">Add</button>
        </div>
    </form>
</mat-dialog-content>


