<div>
    <div class="main-div">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title><h1 style="color: black; font-size: 2rem;" >BAD HABITS</h1></mat-card-title>
            </mat-card-header>
            
            <mat-card-content>
                <mat-progress-bar 
                    class="example-margin"
                    mode = "determinate"
                    value="100">
                    </mat-progress-bar>
            </mat-card-content>

            <mat-card-actions>
                <div class="button-wrapper">
                    <button mat-raised-button color="primary" (click)="openAddDialog()">Add</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="main-div">
        <ul style="padding: 12px; list-style: none;">
            <li *ngFor="let habit of habitList;">
                <mat-card class="example-card">
                    <mat-card-header style="padding: 12px;">
                        <mat-card-title style="font-size: 2rem;">{{ habit.habit }}</mat-card-title>
                    </mat-card-header>
            
                    <mat-card-content>
                        <section>
                            <span style="font-size: 1.3rem;">Alloted Time: {{ habit.minutes }} minutes</span>
                        </section>
                        
                        <section class="prog-wrapper">
                            <mat-progress-bar 
                            class="example-margin"
                            mode = "determinate"
                            value="10">
                            </mat-progress-bar>
                        </section>

                        <section>
                            <span style="font-size: 1.3rem;">Abstinence Range:</span>
                            <br>
                            <span style="font-size: 1.3rem;">{{ habit.start_date }} to {{ habit.end_date }}</span>
                        </section>
                    </mat-card-content>
            
                    <mat-card-actions>
                        <div class="button-wrapper">
                            <button mat-raised-button color="warn" (click)="deleteHabit(habit)">Delete</button>
                        </div>
                        <div class="button-wrapper">
                            <button mat-raised-button color="accent">Reset</button>
                        </div>
                        <div class="button-wrapper">
                            <button mat-raised-button color="primary">Edit</button>
                        </div> 
                    </mat-card-actions>
                </mat-card>
            </li>
        </ul>
    </div>

</div>


