mat-toolbar{
    padding: 1rem;
    background-color: rgb(0, 0, 0);
}

span {
    color:white;
    font-size: 2rem;
}

button {
    background-color: transparent;
    border-color: transparent;
    color: white;
    padding: 2px;
    font-size: 1.5rem;

}


.mat-icon {
    font-size: 27px;
}

