<mat-toolbar>
    <div style="margin-left: 25%; ">
        <span>QUITZILLA</span>
    </div>

    <ng-container>
        <div style="margin-left: 35%;">
            <button (click)="logout()">
                <mat-icon>logout</mat-icon>
                Logout
            </button>
        </div>
    </ng-container>

    <ng-template #loginButt>
        <div style="margin-left: 35%;">
            <button routerLink=''>
                <mat-icon>login</mat-icon>
                Login
            </button>
        </div>
    </ng-template>
    

</mat-toolbar>