<mat-card>
    <mat-card-content style="background-color: white; border: 5px solid white; border-radius: 25px; margin-top: 5%; margin-left: 35%; margin-right: 35%;">
        <div class="wrapper">
            <h2>Sign Up</h2>
            <form [formGroup]="loginForm" >
                <mat-form-field >
                    <input matInput placeholder="Username" formControlName="user"/>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" formControlName="password"/>
                </mat-form-field>

                <div class="button-wrapper">
                    <button style="background-color: green; color: white;" mat-raised-button type="submit">Submit</button>
                </div>
                <div class="button-wrapper">
                    <a routerLink=""><span>Already have an account? Login</span></a>
                </div>
                
            </form>
        </div>
    </mat-card-content>
</mat-card>