<h1 mat-dialog-title>Edit Habit</h1>
<mat-dialog-content class="mat=typography">
    <form [formGroup]="editForm">
        <mat-form-field>
            <mat-label>Habit name</mat-label>
            <input matInput placeholder="Habit name" formControlName="habit">
            <mat-error *ngIf="habit?.errors?.['required']">
                Habit name is required!
            </mat-error>
        </mat-form-field>

        
        <div class="button-wrapper">
            <button style="background-color: green; color: white;" mat-raised-button type="submit">Submit</button>
        </div>
    </form>
</mat-dialog-content>


