<h1 mat-dialog-title>Edit Habit</h1>
<mat-dialog-content class="mat=typography">
    <form [formGroup]="editForm">
        <mat-form-field>
            <mat-label>Habit name</mat-label>
            <input matInput placeholder="Habit name" formControlName="habit">
            <mat-error *ngIf="habit?.errors?.['required']">
                Habit name is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>How many minutes you spend per day?</mat-label>
            <input matInput placeholder="minutes" formControlName="minutes">
            <mat-error *ngIf="minutes?.errors?.['required']">
                Time is required!
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="editForm" [rangePicker]="picker">
              <input matStartDate formControlName="start" placeholder="Start date">
              <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          
            <mat-error *ngIf="editForm.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="editForm.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
          </mat-form-field>
        
        <div class="button-wrapper">
            <button style="background-color: green; color: white;" mat-raised-button type="submit">Submit</button>
        </div>
    </form>
</mat-dialog-content>


